.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  color: white;
}
.day,
.chart_week,
.highlight,
.cities {
  background: #1e1e1e;
  border-radius: 15px;
  padding: 15px;
}
.top_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon_loc {
  background: white;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
}
.temp {
  font-size: 40px;
  margin: 10px 0;
}
.day_hours {
  display: flex;
  gap: 10px;
}

.hour {
  background: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
}

.hour.active {
  background: #4f7cff;
}
.highlight-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}.city {
  display: flex;
  justify-content: space-between;
  background: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}