* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.day {
  border: 1px white solid;
  border-radius: 15px;
  padding: 8px;
  width: 300px;

}

.day .icon_loc {
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 130px;
}
.day .icon_loc i {
  margin-left: 5px;
}
.text_weather {
  margin: 7px;
}
.top_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}