.hour-card {
  background: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.hour-card i,
.hour-card img {
  font-size: 24px;
}

.hour-card.active {
  background: #4f7cff;
}