.highlight-card {
  background: #2a2a2a;
  padding: 18px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110px;
  transition: 0.3s ease;
}

.highlight-card:hover {
  transform: translateY(-3px);
}

.highlight-card h3 {
  font-size: 15px;
  font-weight: 500;
  color: #bdbdbd;
  margin-bottom: 10px;
}

.highlight-card p {
  font-size: 30px;
  font-weight: bold;
  color: white;
}